<div class="container mx-auto px-4">
  <div class="flex justify-start my-4">
    <button 
      *ngIf="user?.role === 1"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" 
      (click)="openCreateCourseDialog()">
      Create New Course
    </button>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <app-course-card 
      *ngFor="let course of courses"
      [course]="course" [isTeacher]="user?.role === 1">
    </app-course-card>
  </div>
</div>