<div class="container mx-auto mt-10 p-6 border-2 border-gray-200 rounded-md shadow-lg max-w-sm">

    <div class="text-center mb-6">
      <p>Please enter your new password.</p>
    </div>
  
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
        <div class="relative">
            <input type="password" formControlName="password" placeholder="Password" class="input">
            <div *ngIf="form.get('password')?.errors?.['required'] && (form.get('password')?.dirty || form.get('password')?.touched)" class="error">
              Password is required.
            </div>
          </div>
  
      <button class="btn" type="submit" [disabled]="form.invalid">
        Change password
      </button>
    </form>
  </div>
  