<div *ngIf="course" class="modern-course-card bg-[#2c2e3b] hover:bg-[#333544] shadow-md rounded-lg p-6" (click)="goToCourseDetails()">
  <div class="card-header mb-4">
    <div class="flex text-lg w-full font-bold text-white">
      {{ course.title }}

      <div class = "ml-auto" *ngIf="isTeacher">
        <span class="badge bg-red-500 hover:bg-red-400 text-white cursor-pointer text-xs font-semibold px-2 py-1 rounded-full" (click)="deleteCourse()">
          Delete
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="text-gray-300 mb-4 text-sm">{{ course.description }}</p>
    <div class="teacher-info flex items-center">
      <img [src]="course.teacher.image" alt="Teacher Avatar" class="teacher-avatar w-12 h-12 rounded-full mr-4" />
      <p class="teacher-name text-gray-100 font-medium">{{ course.teacher.firstName }} {{ course.teacher.lastName }}</p>
    </div>
  </div>
</div>